dist
out
node_modules
coverage
junit.xml
.eslintcache
.eslintcache/
.progress-estimator
.progress-estimator/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*tsbuildinfo
.vscode/
.fleet/

# IDE #
######################
.vscode/
.fleet/
/.idea/
*.iml